.footer-bg {
  background-color: var(--primary-blue-color);
}

.footer {
  padding: 80px 0 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 60px;
}

.footer__logo {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__logo span img {
  width: 200px;
}

.footer__logo p {
  font-size: 19px;
  color: #fff;
  font-weight: 600;
}

.footer__titles {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__links li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 19px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.footer__links i {
  color: var(--secondary-red-color);
}

.footer__links li:hover {
  color: var(--primary-red-color);
}

.footer__developed-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.footer__social-links {
  background: var(--secondary-red-color);
  color: var(--primary-blue-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  transition: color 0.3s ease-in-out;
}

.footer__social-links:hover {
  color: #fff;
}

.developer {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  padding-left: 5px;
  transition: color 0.3s ease-in-out;
}

.developer:hover {
  color: var(--primary-red-color);
}
